.no-background {
}

.projectmodal-container {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  background-color: #fffdfc;
}

.overlay {
  background-color: #3a3939;
  flex: 3;
}

.projectmodal {
  padding: 30px;
  width: 544px;
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 544px;
}

.projectmodal-top-row {
  text-align: center;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 5px;
}

.back {
  color: #7e7e7e;
  font-size: 14px;
  cursor: pointer;
}

.back-to-projects a {
  font-weight: 800;
  font-size: 18px;
  word-spacing: 1px;
  letter-spacing: 0.3px;
  color: black;
}

.back-to-projects:hover {
  cursor: pointer;
  text-decoration: underline;
}

.separator hr {
  margin-top: 10px;
  border: 0.5px solid #eaeaea;
  height: 0.7px;
}

.project-title {
  color: #000;
  margin: 24px 0 8px;
  font-size: 24px;
}

.project-modal-text {
  font-size: 18px;
  letter-spacing: 0.5;
  word-spacing: 0.5;
  margin-bottom: 24px;
}

.projectmodal-image,
.projectmodal-image img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
}

.projectmodal-about {
  margin: 24px 0 12px;
}

.title-name {
  color: #363636;
}

.projectmodal-tech .technologies {
  margin-top: 10px;
  margin-bottom: 15px;
}

.projectmodal-tech > p span {
  font-weight: bold;
  color: #000;
  background-color: #efe9e4;
  border-radius: 4px;
  padding: 10px 15px;
}

.project-website-heading {
  margin-top: 10px;
  margin-bottom: 12px;
}

.projectmodal-websitelink {
  font-size: 17px;
  color: #363636;
  font-weight: bold;
  cursor: pointer;
}

.projectmodal-websitelink:hover {
  text-decoration: underline;
}

.projectmodal-footer {
  width: 100%;
  height: 60px;
  background-color: #020304;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: flex;
}

.projectmodal-footer-link p {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  justify-content: center;
  text-align: center;
}
