#header-section {
  width: 100vw;
  height: auto;
  background: #fffefe;
  padding-bottom: 30px;
  margin: 0 150px;
}

#header-section.dark {
  /* background: #161516; */
  /* background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  ); */
  color: #ffffff;
}

#header {
  place-items: center;
  display: flex;
  justify-content: space-between;
  background: #fffefe;
  transition: var(--transition);
}

#header.dark {
  /* background: #161516; */
  /* background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  ); */
  color: #fff;
}

.container.dark {
  /* background: #161515 !important; */
  /* background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  ); */
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  justify-content: center;
}

.container.header__container.dark {
  /* background: #161516 !important; */
  /* background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  ); */
  color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 7rem;
  width: 100%;
}

.hero.dark {
  /* background: #161515 !important; */
  /* background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  ); */
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  justify-content: center;
  margin-right: 15px;
  padding-left: 10px;
}

.hero .content.dark {
  /* background: #161515; */
  /* background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  ); */
  color: #fff;
}

.hero__details {
  text-align: left;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.hero__details.dark {
  /* background: #161515 !important; */
  /* background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  ); */
  color: #ffffff;
}

.hello {
  text-align: left;
  font-size: 70px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
}

.hello.dark {
  color: #ffffff;
}

.job {
  color: var(--primary-text-color-500);
  margin-bottom: 10px;
  font-family: "League Spartan", sans-serif;
  letter-spacing: 0.1px;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.4;
}

/* Dark mode */
h3.job.dark {
  color: #ffffff;
}

.firstName {
  color: var(--primary-text-color-800);
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* dark mode */
.firstName.changeColor,
.icons .icon.changeColor svg {
  color: var(--primary-brand-color-400);
}

.icons {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 29px;
  justify-content: flex-start;
}

.icons svg {
  font-size: 40px;
  margin-right: 10px;
}

.icons svg:hover {
  color: var(--primary-brand-color-400);
}

button {
  text-align: center;
}

button.portfolio-btn {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: var(--primary-brand-color-400);
  color: var(--primary-brand-color-alternate-600);
  width: fit-content;
}

.portfolio-btn:hover {
  opacity: 0.9;
  transform: translateY(-3px);
  transition: 300ms ease-in;
}

.self-photo {
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.self-photo img {
  width: 350px;
  height: auto;
  border: 10px solid var(--primary-opposite-text-color-800);
  border-radius: 10px;
  object-fit: contain;
  vertical-align: middle;
}

@media screen and (max-width: 1200px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    gap: 5rem;
    text-align: center;
  }
  .hero__details {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .hero__details h1 {
    font-size: 50px;
  }

  .hero__details h1,
  .job,
  .icons {
    text-align: center;
  }

  .icons {
    justify-content: center;
  }

  h3.job {
    padding-top: 30px;
    width: 70%;
    text-wrap: wrap;
    margin: 0 auto;
    text-align: center;
  }

  .button-container {
    text-align: center;
  }

  .button-container button {
    text-align: left;
    align-items: flex-start;
    margin-left: 2px;
  }

  img {
    height: auto;
    margin: 0 auto;
  }
}
